CORP_EXIT_PORT=0
CERT_VLESS_FULLCHAIN=/var/lib/clawpanel/certs/fullchain.pem
CERT_VLESS_KEY=/var/lib/clawpanel/certs/key.pem
CERT_HY2_FULLCHAIN=/var/lib/clawpanel/certs/fullchain.pem
CERT_HY2_KEY=/var/lib/clawpanel/certs/key.pem
XDNS_DOMAIN=t.__DOMAIN__
PANEL_HOST=__DOMAIN__:2083
