CORP_EXIT_PORT=0
CERT_VLESS_FULLCHAIN=/etc/letsencrypt/live/__DOMAIN__/fullchain.pem
CERT_VLESS_KEY=/etc/letsencrypt/live/__DOMAIN__/privkey.pem
CERT_HY2_FULLCHAIN=/etc/letsencrypt/live/__DOMAIN__/fullchain.pem
CERT_HY2_KEY=/etc/letsencrypt/live/__DOMAIN__/privkey.pem
XDNS_DOMAIN=t.__DOMAIN__
PANEL_HOST=__DOMAIN__:2083
