PANEL_URL=http://127.0.0.1:3100
AGENT_SECRET=__AGENT_SECRET__
NODE_NAME=__NODE_NAME__
XRAY_HY_BIN=/usr/local/bin/xray-hy
XRAY_HY_CFG=/etc/claw-xray-hy/config.json
XRAY_HY_SERVICE=claw-xray-hy
XRAY_API_PORT=10085
SYNC_INTERVAL=60
